body{
    background-color: #E1F0DA;
}
hr{
    background-color: white;
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-color: grey;
    border-width: 5px;
}
h1{
    color: #99BC85;
}
h3{
    color: #99BC85;
}
/* for class selector use .classname but id use #idname*/